TechArchitect/TechArchitect.Data/Category.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Categories">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Category">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="uniqueId" type="xs:string" />
              <xs:element name="title" type="xs:string" />
              <xs:element name="subtitle" type="xs:string" />
              <xs:element name="image" type="xs:string" />
              <xs:element name="description" type="xs:string" />
              <xs:element name="bgcolor" type="xs:string" />
              <xs:element name="SubCategory">
                <xs:complexType>
                  <xs:attribute name="container" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>